In [1]:
!pip3 install pandas

Collecting pandas
  Using cached pandas-2.3.3-cp312-cp312-macosx_11_0_arm64.whl.metadata (91 kB)
Collecting numpy>=1.26.0 (from pandas)
  Using cached numpy-2.3.3-cp312-cp312-macosx_14_0_arm64.whl.metadata (62 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/hemantwagh/Desktop/fessorpro/.venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /Users/hemantwagh/Desktop/fessorpro/.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Using cached pandas-2.3.3-cp312-cp312-macosx_11_0_arm64.whl (10.7 MB)
Using cached numpy-2.3.3-cp312-cp312-macosx_14_0_arm64.whl (5.1 MB)
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Using cached tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.3.3 pandas-2.3.3 pytz-2025.2 tzdata-2025.2

[notice] A new release of pip is available: 24.3.1 -> 25.2
[notice] To update, run: pip install --upgrade pip

In [ ]:
import pandas as pd    #list of list
l1=[[11,22,33],[44,55,66],[77,88,99]]
df1=pd.DataFrame(l1,index=['r1','r2','r3'],columns=['c1','c2','c3'])
df1

    c1  c2  c3
r1  11  22  33
r2  44  55  66
r3  77  88  99

In [ ]:
dl={'tsla':[200,201,202,203],      #dict of list
    'goog':[500,501,502,503],
    'nvda':[600,601,602,603]}
df2=pd.DataFrame(dl,index=['5','6','7','8'])
df2

   tsla  goog  nvda
5   200   500   600
6   201   501   601
7   202   502   602
8   203   503   603

In [17]:
stock=[                               #list of dict
    {"name":'apple' ,'price':300 ,'sector':'tech'},
    {"name":'ongc' ,'price':500 ,'sector':'oil'},
    {"name":'artil' ,'price':400 ,'sector':'oil',}
]
df3=pd.DataFrame(stock,index=[55,66,77])
df3

     name  price sector
55  apple    300   tech
66   ongc    500    oil
77  artil    400    oil

In [18]:
import numpy as np
import pandas as pd

m1=np.arange(16).reshape(4,4)
print(m1)

df1=pd.DataFrame(m1,index=['r1','r2','r3','r4'],columns=['c1','c2','c3','c4'])
df1

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]]

    c1  c2  c3  c4
r1   0   1   2   3
r2   4   5   6   7
r3   8   9  10  11
r4  12  13  14  15

In [2]:
import pandas as pd                    #csv file
df3=pd.read_csv('/Users/hemantwagh/Desktop/fessorpro/11_data_analysis/sp500 copy.csv')
df3

                           Name                  Sector   Price    EPS
0                     Apple Inc  Information Technology  170.12   9.20
1                    Abbvie Inc             Health Care   93.29   5.31
2           Abbott Laboratories             Health Care   55.28   2.41
3                 Accenture Plc  Information Technology  145.30   5.91
4                  Allergan Plc             Health Care  171.81  15.42
..                          ...                     ...     ...    ...
97   Verizon Communications Inc      Telecommunications   45.85   3.75
98     Walgreens Boots Alliance        Consumer Staples   70.25   5.10
99        Wells Fargo & Company              Financials   54.02   4.14
100             Wal-Mart Stores        Consumer Staples   96.08   4.36
101            Exxon Mobil Corp                  Energy   80.31   3.56

[102 rows x 4 columns]

In [1]:
!pip3 install openpyxl

Requirement already satisfied: openpyxl in /Users/hemantwagh/Desktop/fessorpro/.venv/lib/python3.12/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /Users/hemantwagh/Desktop/fessorpro/.venv/lib/python3.12/site-packages (from openpyxl) (2.0.0)

[notice] A new release of pip is available: 24.3.1 -> 25.2
[notice] To update, run: pip install --upgrade pip

In [4]:
import pandas as pd 
df4=pd.read_excel('/Users/hemantwagh/Downloads/demo1.xlsx')
df4

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [5]:
import requests
import pandas as pd

headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36'}
response = requests.get('https://en.wikipedia.org/wiki/NIFTY_50', headers=headers)
response.raise_for_status()  # Check for HTTP errors
dfs = pd.read_html(response.text)

/var/folders/th/6y4k93d53hs_3qdz97jfqm6m0000gn/T/ipykernel_2030/662624581.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  dfs = pd.read_html(response.text)

In [2]:
!pip3 install selenium

Collecting selenium
  Using cached selenium-4.36.0-py3-none-any.whl.metadata (7.5 kB)
Requirement already satisfied: urllib3<3.0,>=2.5.0 in /Users/hemantwagh/Desktop/fessorpro/.venv/lib/python3.12/site-packages (from urllib3[socks]<3.0,>=2.5.0->selenium) (2.5.0)
Collecting trio<1.0,>=0.30.0 (from selenium)
  Using cached trio-0.31.0-py3-none-any.whl.metadata (8.5 kB)
Collecting trio-websocket<1.0,>=0.12.2 (from selenium)
  Using cached trio_websocket-0.12.2-py3-none-any.whl.metadata (5.1 kB)
Requirement already satisfied: certifi>=2025.6.15 in /Users/hemantwagh/Desktop/fessorpro/.venv/lib/python3.12/site-packages (from selenium) (2025.10.5)
Requirement already satisfied: typing_extensions<5.0,>=4.14.0 in /Users/hemantwagh/Desktop/fessorpro/.venv/lib/python3.12/site-packages (from selenium) (4.15.0)
Collecting websocket-client<2.0,>=1.8.0 (from selenium)
  Downloading websocket_client-1.9.0-py3-none-any.whl.metadata (8.3 kB)
Collecting attrs>=23.2.0 (from trio<1.0,>=0.30.0->selenium)
  Using cached attrs-25.4.0-py3-none-any.whl.metadata (10 kB)
Collecting sortedcontainers (from trio<1.0,>=0.30.0->selenium)
  Using cached sortedcontainers-2.4.0-py2.py3-none-any.whl.metadata (10 kB)
Requirement already satisfied: idna in /Users/hemantwagh/Desktop/fessorpro/.venv/lib/python3.12/site-packages (from trio<1.0,>=0.30.0->selenium) (3.10)
Collecting outcome (from trio<1.0,>=0.30.0->selenium)
  Using cached outcome-1.3.0.post0-py2.py3-none-any.whl.metadata (2.6 kB)
Collecting sniffio>=1.3.0 (from trio<1.0,>=0.30.0->selenium)
  Using cached sniffio-1.3.1-py3-none-any.whl.metadata (3.9 kB)
Collecting wsproto>=0.14 (from trio-websocket<1.0,>=0.12.2->selenium)
  Using cached wsproto-1.2.0-py3-none-any.whl.metadata (5.6 kB)
Collecting pysocks!=1.5.7,<2.0,>=1.5.6 (from urllib3[socks]<3.0,>=2.5.0->selenium)
  Using cached PySocks-1.7.1-py3-none-any.whl.metadata (13 kB)
Collecting h11<1,>=0.9.0 (from wsproto>=0.14->trio-websocket<1.0,>=0.12.2->selenium)
  Using cached h11-0.16.0-py3-none-any.whl.metadata (8.3 kB)
Using cached selenium-4.36.0-py3-none-any.whl (9.6 MB)
Using cached trio-0.31.0-py3-none-any.whl (512 kB)
Using cached trio_websocket-0.12.2-py3-none-any.whl (21 kB)
Downloading websocket_client-1.9.0-py3-none-any.whl (82 kB)
Using cached attrs-25.4.0-py3-none-any.whl (67 kB)
Using cached outcome-1.3.0.post0-py2.py3-none-any.whl (10 kB)
Using cached PySocks-1.7.1-py3-none-any.whl (16 kB)
Using cached sniffio-1.3.1-py3-none-any.whl (10 kB)
Using cached wsproto-1.2.0-py3-none-any.whl (24 kB)
Using cached sortedcontainers-2.4.0-py2.py3-none-any.whl (29 kB)
Using cached h11-0.16.0-py3-none-any.whl (37 kB)
Installing collected packages: sortedcontainers, websocket-client, sniffio, pysocks, h11, attrs, wsproto, outcome, trio, trio-websocket, selenium
Successfully installed attrs-25.4.0 h11-0.16.0 outcome-1.3.0.post0 pysocks-1.7.1 selenium-4.36.0 sniffio-1.3.1 sortedcontainers-2.4.0 trio-0.31.0 trio-websocket-0.12.2 websocket-client-1.9.0 wsproto-1.2.0

[notice] A new release of pip is available: 24.3.1 -> 25.2
[notice] To update, run: pip install --upgrade pip

In [7]:
from selenium import webdriver


driver = webdriver.Chrome()
driver.get('https://en.wikipedia.org/wiki/NIFTY_50')[0]
driver.quit()

TypeError: 'NoneType' object is not subscriptable

In [9]:
import pandas as pd
df5=pd.read_html('https://en.wikipedia.org/wiki/NIFTY_50')
df5

HTTPError: HTTP Error 403: Forbidden

In [1]:
!pip3 install selenium pandas beautifulsoup4

Requirement already satisfied: selenium in /Users/hemantwagh/Desktop/fessorpro/.venv/lib/python3.12/site-packages (4.36.0)
Requirement already satisfied: pandas in /Users/hemantwagh/Desktop/fessorpro/.venv/lib/python3.12/site-packages (2.3.3)
Requirement already satisfied: beautifulsoup4 in /Users/hemantwagh/Desktop/fessorpro/.venv/lib/python3.12/site-packages (4.14.2)
Requirement already satisfied: urllib3<3.0,>=2.5.0 in /Users/hemantwagh/Desktop/fessorpro/.venv/lib/python3.12/site-packages (from urllib3[socks]<3.0,>=2.5.0->selenium) (2.5.0)
Requirement already satisfied: trio<1.0,>=0.30.0 in /Users/hemantwagh/Desktop/fessorpro/.venv/lib/python3.12/site-packages (from selenium) (0.31.0)
Requirement already satisfied: trio-websocket<1.0,>=0.12.2 in /Users/hemantwagh/Desktop/fessorpro/.venv/lib/python3.12/site-packages (from selenium) (0.12.2)
Requirement already satisfied: certifi>=2025.6.15 in /Users/hemantwagh/Desktop/fessorpro/.venv/lib/python3.12/site-packages (from selenium) (2025.10.5)
Requirement already satisfied: typing_extensions<5.0,>=4.14.0 in /Users/hemantwagh/Desktop/fessorpro/.venv/lib/python3.12/site-packages (from selenium) (4.15.0)
Requirement already satisfied: websocket-client<2.0,>=1.8.0 in /Users/hemantwagh/Desktop/fessorpro/.venv/lib/python3.12/site-packages (from selenium) (1.9.0)
Requirement already satisfied: numpy>=1.26.0 in /Users/hemantwagh/Desktop/fessorpro/.venv/lib/python3.12/site-packages (from pandas) (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/hemantwagh/Desktop/fessorpro/.venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/hemantwagh/Desktop/fessorpro/.venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/hemantwagh/Desktop/fessorpro/.venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: soupsieve>1.2 in /Users/hemantwagh/Desktop/fessorpro/.venv/lib/python3.12/site-packages (from beautifulsoup4) (2.8)
Requirement already satisfied: six>=1.5 in /Users/hemantwagh/Desktop/fessorpro/.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: attrs>=23.2.0 in /Users/hemantwagh/Desktop/fessorpro/.venv/lib/python3.12/site-packages (from trio<1.0,>=0.30.0->selenium) (25.4.0)
Requirement already satisfied: sortedcontainers in /Users/hemantwagh/Desktop/fessorpro/.venv/lib/python3.12/site-packages (from trio<1.0,>=0.30.0->selenium) (2.4.0)
Requirement already satisfied: idna in /Users/hemantwagh/Desktop/fessorpro/.venv/lib/python3.12/site-packages (from trio<1.0,>=0.30.0->selenium) (3.10)
Requirement already satisfied: outcome in /Users/hemantwagh/Desktop/fessorpro/.venv/lib/python3.12/site-packages (from trio<1.0,>=0.30.0->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in /Users/hemantwagh/Desktop/fessorpro/.venv/lib/python3.12/site-packages (from trio<1.0,>=0.30.0->selenium) (1.3.1)
Requirement already satisfied: wsproto>=0.14 in /Users/hemantwagh/Desktop/fessorpro/.venv/lib/python3.12/site-packages (from trio-websocket<1.0,>=0.12.2->selenium) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in /Users/hemantwagh/Desktop/fessorpro/.venv/lib/python3.12/site-packages (from urllib3[socks]<3.0,>=2.5.0->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in /Users/hemantwagh/Desktop/fessorpro/.venv/lib/python3.12/site-packages (from wsproto>=0.14->trio-websocket<1.0,>=0.12.2->selenium) (0.16.0)

[notice] A new release of pip is available: 24.3.1 -> 25.2
[notice] To update, run: pip install --upgrade pip

In [13]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
from bs4 import BeautifulSoup
import pandas as pd
import time

# Setup Selenium WebDriver (headless mode optional)
options = Options()
options.add_argument("--headless")  # Optional: Run in headless mode
service = Service()  # Assumes chromedriver is in your PATH
driver = webdriver.Chrome(service=service, options=options)

# Open the Wikipedia page
url = "https://en.wikipedia.org/wiki/NIFTY_50"
driver.get(url)

# Wait for the page to fully load
time.sleep(2)  # You could use WebDriverWait instead of sleep

# Get the page source
html = driver.page_source

# Close the driver
driver.quit()

# Use BeautifulSoup to parse the table
soup = BeautifulSoup(html, "html.parser")
tables = soup.find_all("table", {"class": "wikitable"})

# Convert the first table to a DataFrame
if tables:
    df = pd.read_html(str(tables[0]))[0]
    print(df.tail())
else:
    print("No table found.")

        Company name      Symbol              Sector[15]        Date added[16]
45     Tech Mahindra       TECHM  Information Technology         28 March 2014
46     Titan Company       TITAN       Consumer Durables          2 April 2018
47             Trent       TRENT       Consumer Services     30 September 2024
48  UltraTech Cement  ULTRACEMCO  Construction Materials     28 September 2012
49             Wipro       WIPRO  Information Technology  27 September 2013[h]

/var/folders/th/6y4k93d53hs_3qdz97jfqm6m0000gn/T/ipykernel_2030/3609771536.py:33: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(tables[0]))[0]

In [3]:
df3

                           Name                  Sector   Price    EPS
0                     Apple Inc  Information Technology  170.12   9.20
1                    Abbvie Inc             Health Care   93.29   5.31
2           Abbott Laboratories             Health Care   55.28   2.41
3                 Accenture Plc  Information Technology  145.30   5.91
4                  Allergan Plc             Health Care  171.81  15.42
..                          ...                     ...     ...    ...
97   Verizon Communications Inc      Telecommunications   45.85   3.75
98     Walgreens Boots Alliance        Consumer Staples   70.25   5.10
99        Wells Fargo & Company              Financials   54.02   4.14
100             Wal-Mart Stores        Consumer Staples   96.08   4.36
101            Exxon Mobil Corp                  Energy   80.31   3.56

[102 rows x 4 columns]

In [5]:
df3.Name

0                       Apple Inc
1                      Abbvie Inc
2             Abbott Laboratories
3                   Accenture Plc
4                    Allergan Plc
                  ...
97     Verizon Communications Inc
98       Walgreens Boots Alliance
99          Wells Fargo & Company
100               Wal-Mart Stores
101              Exxon Mobil Corp
Name: Name, Length: 102, dtype: object

In [9]:
df3[['Sector','Price']]

                     Sector   Price
0    Information Technology  170.12
1               Health Care   93.29
2               Health Care   55.28
3    Information Technology  145.30
4               Health Care  171.81
..                      ...     ...
97       Telecommunications   45.85
98         Consumer Staples   70.25
99               Financials   54.02
100        Consumer Staples   96.08
101                  Energy   80.31

[102 rows x 2 columns]

In [10]:
df3.head(15)

                            Name                  Sector    Price    EPS
0                      Apple Inc  Information Technology   170.12   9.20
1                     Abbvie Inc             Health Care    93.29   5.31
2            Abbott Laboratories             Health Care    55.28   2.41
3                  Accenture Plc  Information Technology   145.30   5.91
4                   Allergan Plc             Health Care   171.81  15.42
5   American International Group              Financials    59.50   2.51
6                  Allstate Corp              Financials   100.50   6.79
7                          Amgen             Health Care   168.93  12.58
8                Amazon.Com Inc.  Consumer Discretionary  1126.82   3.94
9       American Express Company              Financials    93.92   5.22
10                Boeing Company             Industrials   265.04   9.75
11          Bank of America Corp              Financials    26.70   1.75
12                    Biogen Inc             Health Care   311.92  21.59
13  Bank of New York Mellon Corp              Financials    52.73   3.47
14                     Blackrock              Financials   474.05  21.55

In [11]:
df3.tail(10)

                           Name                  Sector   Price   EPS
92           Union Pacific Corp             Industrials  115.58  5.66
93        United Parcel Service             Industrials  113.20  5.98
94                 U.S. Bancorp              Financials   51.88  3.37
95     United Technologies Corp             Industrials  117.05  6.62
96                     Visa Inc  Information Technology  110.27  3.48
97   Verizon Communications Inc      Telecommunications   45.85  3.75
98     Walgreens Boots Alliance        Consumer Staples   70.25  5.10
99        Wells Fargo & Company              Financials   54.02  4.14
100             Wal-Mart Stores        Consumer Staples   96.08  4.36
101            Exxon Mobil Corp                  Energy   80.31  3.56

In [12]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102 entries, 0 to 101
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    102 non-null    object
 1   Sector  102 non-null    object
 2   Price   102 non-null    float64
 3   EPS     102 non-null    float64
dtypes: float64(2), object(2)
memory usage: 3.3+ KB

In [ ]:
df3.describe()    #gives statistical data

             Price         EPS
count   102.000000  102.000000
mean    150.500686    6.485294
std     240.768463    8.577741
min      12.110000    0.020000
25%      54.335000    2.885000
50%      88.295000    4.405000
75%     151.032500    6.565000
max    1762.230000   74.450000

In [14]:
df3.shape

(102, 4)

In [15]:
df3.columns

Index(['Name', 'Sector', 'Price', 'EPS'], dtype='object')

In [16]:
df3.index

RangeIndex(start=0, stop=102, step=1)

In [20]:
df3

                           Name                  Sector   Price    EPS
0                     Apple Inc  Information Technology  170.12   9.20
1                    Abbvie Inc             Health Care   93.29   5.31
2           Abbott Laboratories             Health Care   55.28   2.41
3                 Accenture Plc  Information Technology  145.30   5.91
4                  Allergan Plc             Health Care  171.81  15.42
..                          ...                     ...     ...    ...
97   Verizon Communications Inc      Telecommunications   45.85   3.75
98     Walgreens Boots Alliance        Consumer Staples   70.25   5.10
99        Wells Fargo & Company              Financials   54.02   4.14
100             Wal-Mart Stores        Consumer Staples   96.08   4.36
101            Exxon Mobil Corp                  Energy   80.31   3.56

[102 rows x 4 columns]

In [23]:
df3[df3['Price']<100]

                             Name                  Sector  Price   EPS
1                      Abbvie Inc             Health Care  93.29  5.31
2             Abbott Laboratories             Health Care  55.28  2.41
5    American International Group              Financials  59.50  2.51
9        American Express Company              Financials  93.92  5.22
11           Bank of America Corp              Financials  26.70  1.75
13   Bank of New York Mellon Corp              Financials  52.73  3.47
15   Bristol-Myers Squibb Company             Health Care  60.48  2.96
17                  Citigroup Inc              Financials  71.87  5.19
21      Colgate-Palmolive Company        Consumer Staples  72.16  2.87
22                 Comcast Corp A  Consumer Discretionary  36.13  2.02
23     Capital One Financial Corp              Financials  88.26  7.58
24                 Conocophillips                  Energy  49.89  0.02
26              Cisco Systems Inc  Information Technology  36.38  2.17
27                       CVS Corp        Consumer Staples  70.18  5.71
29                   Danaher Corp             Health Care  93.45  3.89
31               Duke Energy Corp               Utilities  88.61  4.45
32                 Dowdupont Inc.               Materials  71.12  3.66
33       Emerson Electric Company             Industrials  60.14  2.58
34                    Exelon Corp               Utilities  41.32  2.48
35             Ford Motor Company  Consumer Discretionary  12.11  1.68
38        21st Centry Fox Class B  Consumer Discretionary  30.42  1.92
39        21st Centry Fox Class A  Consumer Discretionary  31.14  1.92
41       General Electric Company             Industrials  17.91  1.24
42            Gilead Sciences Inc             Health Care  71.63  9.58
43         General Motors Company  Consumer Discretionary  44.74  6.19
47            Halliburton Company                  Energy  41.57  0.73
51                     Intel Corp  Information Technology  44.88  3.18
53           JP Morgan Chase & Co              Financials  98.58  6.94
54                 Kraft Heinz Co        Consumer Staples  80.59  3.56
55                  Kinder Morgan                  Energy  17.04  0.65
56              Coca-Cola Company        Consumer Staples  45.60  1.89
57          Eli Lilly and Company             Health Care  82.97  4.09
59               Lowe's Companies  Consumer Discretionary  81.43  4.34
62            Mondelez Intl Cmn A        Consumer Staples  42.49  2.05
63                  Medtronic Inc             Health Care  79.52  4.69
64                    Metlife Inc              Financials  51.85  5.20
66                   Altria Group        Consumer Staples  66.51  3.16
68                Merck & Company             Health Care  53.74  3.89
69                 Morgan Stanley              Financials  49.06  3.61
70                 Microsoft Corp  Information Technology  82.49  3.38
72                       Nike Inc  Consumer Discretionary  59.46  2.35
73                    Oracle Corp  Information Technology  48.97  2.55
74      Occidental Petroleum Corp                  Energy  68.17  0.35
77                     Pfizer Inc             Health Care  35.38  2.50
78       Procter & Gamble Company        Consumer Staples  88.33  3.98
80                Paypal Holdings  Information Technology  76.55  1.40
81                   Qualcomm Inc  Information Technology  66.83  3.78
83                 Starbucks Corp  Consumer Discretionary  56.83  2.07
84              Schlumberger N.V.                  Energy  61.53  1.29
85               Southern Company               Utilities  51.12  2.75
87                       AT&T Inc      Telecommunications  34.59  2.93
88                    Target Corp  Consumer Discretionary  57.77  4.93
89                Time Warner Inc  Consumer Discretionary  88.62  6.06
90              Texas Instruments  Information Technology  98.59  4.06
94                   U.S. Bancorp              Financials  51.88  3.37
97     Verizon Communications Inc      Telecommunications  45.85  3.75
98       Walgreens Boots Alliance        Consumer Staples  70.25  5.10
99          Wells Fargo & Company              Financials  54.02  4.14
100               Wal-Mart Stores        Consumer Staples  96.08  4.36
101              Exxon Mobil Corp                  Energy  80.31  3.56

In [24]:
df3[df3['EPS']<3]

                            Name                  Sector   Price   EPS
2            Abbott Laboratories             Health Care   55.28  2.41
5   American International Group              Financials   59.50  2.51
11          Bank of America Corp              Financials   26.70  1.75
15  Bristol-Myers Squibb Company             Health Care   60.48  2.96
20          Charter Communicatio  Consumer Discretionary  346.20  1.61
21     Colgate-Palmolive Company        Consumer Staples   72.16  2.87
22                Comcast Corp A  Consumer Discretionary   36.13  2.02
24                Conocophillips                  Energy   49.89  0.02
26             Cisco Systems Inc  Information Technology   36.38  2.17
33      Emerson Electric Company             Industrials   60.14  2.58
34                   Exelon Corp               Utilities   41.32  2.48
35            Ford Motor Company  Consumer Discretionary   12.11  1.68
38       21st Centry Fox Class B  Consumer Discretionary   30.42  1.92
39       21st Centry Fox Class A  Consumer Discretionary   31.14  1.92
41      General Electric Company             Industrials   17.91  1.24
47           Halliburton Company                  Energy   41.57  0.73
55                 Kinder Morgan                  Energy   17.04  0.65
56             Coca-Cola Company        Consumer Staples   45.60  1.89
62           Mondelez Intl Cmn A        Consumer Staples   42.49  2.05
72                      Nike Inc  Consumer Discretionary   59.46  2.35
73                   Oracle Corp  Information Technology   48.97  2.55
74     Occidental Petroleum Corp                  Energy   68.17  0.35
77                    Pfizer Inc             Health Care   35.38  2.50
80               Paypal Holdings  Information Technology   76.55  1.40
83                Starbucks Corp  Consumer Discretionary   56.83  2.07
84             Schlumberger N.V.                  Energy   61.53  1.29
85              Southern Company               Utilities   51.12  2.75
87                      AT&T Inc      Telecommunications   34.59  2.93

In [25]:
a=df3['EPS']<2
b=df3['Price']>100
df3[a & b]

                    Name                  Sector  Price   EPS
20  Charter Communicatio  Consumer Discretionary  346.2  1.61

In [26]:
import pandas as pd
df8=pd.read_csv('/Users/hemantwagh/Desktop/fessorpro/11_data_analysis/Unicorn_companies copy.csv')
df8

,Company,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding
0,Bytedance,180,07-04-2017,Artificial intelligence,Beijing,China,Asia,2012,NaN
1,SpaceX,100,01-12-2012,Other,Hawthorne,United States,North America,2002,7.0
2,SHEIN,100,03-07-2018,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008,2.0
3,Stripe,95,23-01-2014,Fintech,San Francisco,United States,North America,2010,2.0
4,Klarna,46,12-12-2011,Fintech,Stockholm,Sweden,Europe,2005,4.0
...,...,...,...,...,...,...,...,...,...
1069,Zhaogang,1,29-06-2017,E-commerce & direct-to-consumer,Shanghai,China,Asia,2012,379.0
1070,Zhuan Zhuan,1,18-04-2017,E-commerce & direct-to-consumer,Beijing,China,Asia,2015,990.0
1071,Zihaiguo,1,06-05-2021,Consumer & retail,Chongqing,China,Asia,2018,80.0
1072,Zopa,1,19-10-2021,Fintech,London,United Kingdom,Europe,2005,792.0
1073,Zwift,1,16-09-2020,E-commerce & direct-to-consumer,Long Beach,United States,North America,2014,620.0

In [28]:
df8[df8['Year Founded']>2000]

,Company,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding
0,Bytedance,180,07-04-2017,Artificial intelligence,Beijing,China,Asia,2012,NaN
1,SpaceX,100,01-12-2012,Other,Hawthorne,United States,North America,2002,7.0
2,SHEIN,100,03-07-2018,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008,2.0
3,Stripe,95,23-01-2014,Fintech,San Francisco,United States,North America,2010,2.0
4,Klarna,46,12-12-2011,Fintech,Stockholm,Sweden,Europe,2005,4.0
...,...,...,...,...,...,...,...,...,...
1069,Zhaogang,1,29-06-2017,E-commerce & direct-to-consumer,Shanghai,China,Asia,2012,379.0
1070,Zhuan Zhuan,1,18-04-2017,E-commerce & direct-to-consumer,Beijing,China,Asia,2015,990.0
1071,Zihaiguo,1,06-05-2021,Consumer & retail,Chongqing,China,Asia,2018,80.0
1072,Zopa,1,19-10-2021,Fintech,London,United Kingdom,Europe,2005,792.0
1073,Zwift,1,16-09-2020,E-commerce & direct-to-consumer,Long Beach,United States,North America,2014,620.0