In [2]:
import yfinance as yf
data=yf.download('NVDA',period='2d',interval='1m',multi_level_index=False)
data

/var/folders/th/6y4k93d53hs_3qdz97jfqm6m0000gn/T/ipykernel_2327/2745516814.py:2: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data=yf.download('NVDA',period='2d',interval='1m',multi_level_index=False)
[*********************100%***********************]  1 of 1 completed

,Close,High,Low,Open,Volume
Datetime,,,,,
2025-10-22 13:30:00+00:00,180.957504,181.410004,180.800003,181.130005,4039874
2025-10-22 13:31:00+00:00,181.218201,181.249893,180.880005,180.975006,470365
2025-10-22 13:33:00+00:00,180.514999,180.799896,180.490005,180.660004,1389899
2025-10-22 13:34:00+00:00,180.630005,180.669998,180.289993,180.514999,505797
2025-10-22 13:35:00+00:00,180.750000,180.764999,180.440002,180.649994,304405
...,...,...,...,...,...
2025-10-23 16:47:00+00:00,181.795105,181.839996,181.679993,181.830002,151027
2025-10-23 16:48:00+00:00,181.761703,181.830002,181.760101,181.794998,94784
2025-10-23 16:49:00+00:00,181.755005,181.824997,181.744995,181.759995,96330
2025-10-23 16:50:00+00:00,181.750000,181.799896,181.734100,181.750000,78297
2025-10-23 16:51:00+00:00,181.769897,181.769897,181.769897,181.769897,0

In [3]:
data['sma_10']=data['Close'].rolling(10).mean()
data

,Close,High,Low,Open,Volume,sma_10
Datetime,,,,,,
2025-10-22 13:30:00+00:00,180.957504,181.410004,180.800003,181.130005,4039874,NaN
2025-10-22 13:31:00+00:00,181.218201,181.249893,180.880005,180.975006,470365,NaN
2025-10-22 13:33:00+00:00,180.514999,180.799896,180.490005,180.660004,1389899,NaN
2025-10-22 13:34:00+00:00,180.630005,180.669998,180.289993,180.514999,505797,NaN
2025-10-22 13:35:00+00:00,180.750000,180.764999,180.440002,180.649994,304405,NaN
...,...,...,...,...,...,...
2025-10-23 16:47:00+00:00,181.795105,181.839996,181.679993,181.830002,151027,181.788000
2025-10-23 16:48:00+00:00,181.761703,181.830002,181.760101,181.794998,94784,181.788161
2025-10-23 16:49:00+00:00,181.755005,181.824997,181.744995,181.759995,96330,181.783672
2025-10-23 16:50:00+00:00,181.750000,181.799896,181.734100,181.750000,78297,181.781172
2025-10-23 16:51:00+00:00,181.769897,181.769897,181.769897,181.769897,0,181.787161

In [6]:
!pip3 install pandas-ta

Requirement already satisfied: pandas-ta in /Users/hemantwagh/Desktop/fessorpro/.venv/lib/python3.12/site-packages (0.4.71b0)
Requirement already satisfied: numba==0.61.2 in /Users/hemantwagh/Desktop/fessorpro/.venv/lib/python3.12/site-packages (from pandas-ta) (0.61.2)
Requirement already satisfied: numpy>=2.2.6 in /Users/hemantwagh/Desktop/fessorpro/.venv/lib/python3.12/site-packages (from pandas-ta) (2.2.6)
Requirement already satisfied: pandas>=2.3.2 in /Users/hemantwagh/Desktop/fessorpro/.venv/lib/python3.12/site-packages (from pandas-ta) (2.3.3)
Requirement already satisfied: tqdm>=4.67.1 in /Users/hemantwagh/Desktop/fessorpro/.venv/lib/python3.12/site-packages (from pandas-ta) (4.67.1)
Requirement already satisfied: llvmlite<0.45,>=0.44.0dev0 in /Users/hemantwagh/Desktop/fessorpro/.venv/lib/python3.12/site-packages (from numba==0.61.2->pandas-ta) (0.44.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/hemantwagh/Desktop/fessorpro/.venv/lib/python3.12/site-packages (from pandas>=2.3.2->pandas-ta) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/hemantwagh/Desktop/fessorpro/.venv/lib/python3.12/site-packages (from pandas>=2.3.2->pandas-ta) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/hemantwagh/Desktop/fessorpro/.venv/lib/python3.12/site-packages (from pandas>=2.3.2->pandas-ta) (2025.2)
Requirement already satisfied: six>=1.5 in /Users/hemantwagh/Desktop/fessorpro/.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas>=2.3.2->pandas-ta) (1.17.0)

[notice] A new release of pip is available: 24.3.1 -> 25.2
[notice] To update, run: pip install --upgrade pip

In [21]:
!pip3 install numpy==2.2.6

Collecting numpy==2.2.6
  Using cached numpy-2.2.6-cp312-cp312-macosx_14_0_arm64.whl.metadata (62 kB)
Using cached numpy-2.2.6-cp312-cp312-macosx_14_0_arm64.whl (5.1 MB)
Installing collected packages: numpy
  Attempting uninstall: numpy
    Found existing installation: numpy 2.2.3
    Uninstalling numpy-2.2.3:
      Successfully uninstalled numpy-2.2.3
Successfully installed numpy-2.2.6

In [5]:
!pip3 install setuptools

Collecting setuptools
  Using cached setuptools-80.9.0-py3-none-any.whl.metadata (6.6 kB)
Using cached setuptools-80.9.0-py3-none-any.whl (1.2 MB)
Installing collected packages: setuptools
Successfully installed setuptools-80.9.0

In [4]:
import pandas_ta as ta
data['sma']=ta.sma(data['Close'],length=10)
data

,Close,High,Low,Open,Volume,sma_10,sma
Datetime,,,,,,,
2025-10-22 13:30:00+00:00,180.957504,181.410004,180.800003,181.130005,4039874,NaN,NaN
2025-10-22 13:31:00+00:00,181.218201,181.249893,180.880005,180.975006,470365,NaN,NaN
2025-10-22 13:33:00+00:00,180.514999,180.799896,180.490005,180.660004,1389899,NaN,NaN
2025-10-22 13:34:00+00:00,180.630005,180.669998,180.289993,180.514999,505797,NaN,NaN
2025-10-22 13:35:00+00:00,180.750000,180.764999,180.440002,180.649994,304405,NaN,NaN
...,...,...,...,...,...,...,...
2025-10-23 16:47:00+00:00,181.795105,181.839996,181.679993,181.830002,151027,181.788000,181.788000
2025-10-23 16:48:00+00:00,181.761703,181.830002,181.760101,181.794998,94784,181.788161,181.788161
2025-10-23 16:49:00+00:00,181.755005,181.824997,181.744995,181.759995,96330,181.783672,181.783672
2025-10-23 16:50:00+00:00,181.750000,181.799896,181.734100,181.750000,78297,181.781172,181.781172
2025-10-23 16:51:00+00:00,181.769897,181.769897,181.769897,181.769897,0,181.787161,181.787161

In [6]:
!pip3 install TA-Lib

Collecting TA-Lib
  Downloading ta_lib-0.6.8-cp312-cp312-macosx_14_0_arm64.whl.metadata (23 kB)
Collecting build (from TA-Lib)
  Downloading build-1.3.0-py3-none-any.whl.metadata (5.6 kB)
Requirement already satisfied: numpy in /Users/hemantwagh/Desktop/fessorpro/.venv/lib/python3.12/site-packages (from TA-Lib) (2.2.6)
Requirement already satisfied: packaging>=19.1 in /Users/hemantwagh/Desktop/fessorpro/.venv/lib/python3.12/site-packages (from build->TA-Lib) (25.0)
Collecting pyproject_hooks (from build->TA-Lib)
  Downloading pyproject_hooks-1.2.0-py3-none-any.whl.metadata (1.3 kB)
Downloading ta_lib-0.6.8-cp312-cp312-macosx_14_0_arm64.whl (984 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 984.9/984.9 kB 1.8 MB/s  0:00:00 eta 0:00:01
Downloading build-1.3.0-py3-none-any.whl (23 kB)
Downloading pyproject_hooks-1.2.0-py3-none-any.whl (10 kB)
Installing collected packages: pyproject_hooks, build, TA-Lib
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3/3 [TA-Lib]
Successfully installed TA-Lib-0.6.8 build-1.3.0 pyproject_hooks-1.2.0

In [7]:
	
import talib as ta
data['sma2']=ta.SMA(data['Close'],10)
data

,Close,High,Low,Open,Volume,sma_10,sma,sma2
Datetime,,,,,,,,
2025-10-22 13:30:00+00:00,180.957504,181.410004,180.800003,181.130005,4039874,NaN,NaN,NaN
2025-10-22 13:31:00+00:00,181.218201,181.249893,180.880005,180.975006,470365,NaN,NaN,NaN
2025-10-22 13:33:00+00:00,180.514999,180.799896,180.490005,180.660004,1389899,NaN,NaN,NaN
2025-10-22 13:34:00+00:00,180.630005,180.669998,180.289993,180.514999,505797,NaN,NaN,NaN
2025-10-22 13:35:00+00:00,180.750000,180.764999,180.440002,180.649994,304405,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2025-10-23 16:47:00+00:00,181.795105,181.839996,181.679993,181.830002,151027,181.788000,181.788000,181.788000
2025-10-23 16:48:00+00:00,181.761703,181.830002,181.760101,181.794998,94784,181.788161,181.788161,181.788161
2025-10-23 16:49:00+00:00,181.755005,181.824997,181.744995,181.759995,96330,181.783672,181.783672,181.783672
2025-10-23 16:50:00+00:00,181.750000,181.799896,181.734100,181.750000,78297,181.781172,181.781172,181.781172
2025-10-23 16:51:00+00:00,181.769897,181.769897,181.769897,181.769897,0,181.787161,181.787161,181.787161